{%- import "utils.njk" as utils -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{- title -}}</title>

    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if page.excerpt %}
      <meta name="description" content="{{- utils.eval(page.excerpt) | markdown | striptags -}}" />
    {% endif %}

    <link href="~styles/main.css" rel="stylesheet" />

    {% if not eleventyExcludeFromCollections %}
      <link href="{{- page.url | url -}}" rel="canonical" />
    {% endif %}
  </head>
  <body>
    {{ content | safe }}

    <script src="~scripts/main.js" async></script>
  </body>
</html>
